.front{
	background-color: #e61d25;
	height:98vh;
	overflow: hidden;

}
.flipper {
	height:98vh;
}
svg{
	margin: auto;
}

#santa{
	fill:#fff;
}
#santaBack{
	mix-blend-mode: multiply;
}



.elemFlipped {
	backface-visibility: hidden;
	opacity:0;

	animation: flipElem 0.5s ease-in 0s ;
	animation-fill-mode: forwards;
	transform-origin: 25% 50%;
}

#pom, #pomBack{
	animation-delay: 0.4s; 
}
#hat, #hatBack{
	animation-delay: 0.5s; 
}
#fur, #furBack{
	animation-delay: 0.6s; 
}
#eyes, #eyesBack{
	animation-delay: 0.7s; 
}
#mustache, #mustacheBack{
	animation-delay: 0.8s; 
}
#smile, #smileBack{
	animation-delay: 0.9s; 
}
#beard, #beardBack{
	animation-delay: 1.0s; 
}


@keyframes flipElem {
	0% { transform: scaleX(1); opacity:0;}
	50% { transform: scaleX(-1); opacity:100; fill: white;}
	75% { transform: scaleX(0); fill: grey; opacity:100;}
	100% { transform: scaleX(1); opacity:100;}	
}

.flipper{
	animation: rotateSanta 0.5s ease-in 1.5s ;
	animation-fill-mode: forwards;	
}
@keyframes rotateSanta {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(90deg);}
}

#leftEyeBlinking{
opacity: 0;
	animation: blinkEye 0.5s linear 2.3s ;
	animation-fill-mode: backwards;	
}


@keyframes blinkEye {
	0% {opacity: 0;}
	15% {opacity: 100;}
	85% {opacity: 100;}
	100% {opacity: 0;}


}

