@font-face {
  font-family: "PixelOperatorMono-Bold";
  src: url("font/PixelOperatorMono-Bold.ttf");
}

*{
	padding: 0;
	margin: 0;
}
body{
	font-family: "PixelOperatorMono-Bold";
	overflow: hidden;
	position: relative;
}

.slide {
	height:100vh;
	width:100vw;
	overflow: hidden;
	vertical-align: center;
	text-align: center;
	position: absolute;
}

#slide1{
	background-color: #000;
	top: 0;
	left: 0;
	z-index: 10;

}


#slide2{
	background-color: #3fa9f5;
	top: 0;
	left: 100vw;
	z-index: 20;

}

#text1{
    width: 100vw;
    height: 100vh;
}

#slide2 .text2{
	font-family: "PixelOperatorMono-Bold";
	font-size: 8em;
	color: #fff;
	margin: auto;
	text-align: right;
}

#slide3{
	background-color: #ff931e;
	top: 100vh;
	left: 0;
	z-index: 30;

}


#slide4{
	background-color: #ff1d25;
	top: 100vh;
	left:0;
	z-index: 40;

}


#slide1 text{
	font-family: "PixelOperatorMono-Bold";
	font-size: 200;
	 
}

.flipper {
	z-index: 31;
	height:100vh;
}

svg{
	margin: auto;
	height: 100vh;
	width: 100vw;
}
form{
	margin-left: 80%;
	height: 5vh;
}

#slide4 img{
	height: 100%;

}

#perso{
	fill:#fff;
	width: 50%;
	
}

.fb-share-button{

}

